h3{
    color: #000;
    margin-bottom: -1.4rem;
    margin-right: 1rem;
    margin-top: 0.05rem;
    background-color: #E4A23D;
    height: 2.2rem;   
    line-height: 2.2rem;
    text-indent: 19px;
    width:20rem;
    font-size: 1rem;
}


.switch-field {
	margin-bottom:0px;
	overflow:visible;
    width: 100%;
    display: flex;
}


.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.bili{
    color: aqua;
    text-decoration: underline;
    background-color: #000;
}

.guide{
    margin: 1rem 3.5rem;
    width: 80%;
    font-size: 0.8rem;
    text-align: left;
    float: left;}

.guide a{
    color: aliceblue;
    font-size: 1rem;

}

.switch-field label {
    width: 30%;
	background-color: rgba(248, 248, 248, 0.795);
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
    font-weight:normal;
	line-height: 1.2;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	transition: all 100ms ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #E4A23D;
	box-shadow: none;
    font-weight:900;
}

